body{
  background-color: white;
font-family: "itc-avant-garde-gothic-pro", sans-serif;
font-weight: 300;
font-style: normal;}
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: top;
    margin: 50px 10%;
  }
  
  .image-wrapper {
    flex-basis: 45%;
    margin-bottom: 30px;
  }
  
  .image-wrapper img {
    display: block;
    width: 100%;
    height: auto;
    margin: 5%;
  }
  
  .text-wrapper {
    flex-basis: 45%;
    margin-top: 5%;
  }
  

  p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  nav {
    background-color:rgb(255, 88, 47) ;
  }
  
  .header {
  /*position: fixed;*/
  /*background:  RGB(43, 188, 180);*/
    height: 4rem;
    font-size: 200%;
    display: flex;
    z-index: 9999;
    margin: 0%;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
    }
    li{
    list-style: none;
    margin-left: 10%;
    margin-right: 10%;
    
    }
    a {
    color: #fff;
    text-decoration: none;
    }
      
    a:hover {
    
    color:rgb(0,0,0) ;
    }