html {
	scroll-behavior: smooth; /* Add this line to enable smooth scrolling */
  }
.hero {
    display: flex;
    align-items: right;
    justify-content: right;
	flex-direction: column-reverse;
    margin: auto;
    margin-top: 0%;
	margin-bottom: 15%;
	width: 30%;
	margin-left: 0%;
  }
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1500%;
    color: rgb(255, 88, 47);
}
body{
    background-color: rgb(0, 6, 56);
}
.portfolio-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.portfolio-item {
	position: relative;

	width: 33%; /* Set a fixed width for the portfolio item */
	height: auto; /* Set a fixed height for the portfolio item */
	overflow: hidden; /* Hide any overflow from the image */
  }
  
  .portfolio-item img {
	height: 100%;
	width: 100%; /* Set the height of the image to fill the container */
	object-fit:cover; /* Scale the image while preserving its aspect ratio */
  }

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 6, 56,.5);
	color: white;
	opacity: 0;
	transition: opacity 0.5s;
	display: flex;
	align-items:baseline;
	justify-content: left;
}

.overlay h3 {
	font-family: 'Poppins', sans-serif;
	font-size: 300%;
	font-weight: bold;
	text-align: left;
	margin-left: 5%;
}

.portfolio-item:hover .overlay {
	opacity: 1;
}

.header {
position: fixed;
  text-align: center;
  background:  RGB(43, 188, 180);
  color: white;
  font-size: 200%;
  display: flex;
  z-index: 9999;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 7%;
  margin: 0%;
  justify-content: center;
  align-items: center;
  font-family: 'poppins', sans-serif;
}
li{
	list-style: none;
	margin-left: 10%;
	margin-right: 10%;

}
  a {
	color: #fff;
	text-decoration: none;
  }
  
  a:hover {

	color:rgb(255, 88, 47) ;
  }

h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
	font-size: 1000%;
	color:rgb(255, 88, 47) ;
	width: 30%;
	margin-bottom: 0%;
}
P{
	display: flex;
	font-family: 'poppins',sans-serif;
	color: #fff;
	width:50%;
	font-size: 18px;
}
.paragraph{
	margin-bottom: 10%;
}