*{
    background-color: rgb(0, 0, 255);
}
h1 {
    font-size: 50em;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 0, 0);
    text-decoration: underline wavy rgb(187, 255, 0);
}
ul {

    list-style-type: square;
} 
 p{
     width: 50%;
     font-size: 1.5em;
     color:rgb(255, 255, 255);
     line-height: 100%;
     text-align: left;
     background-color: rgba(255, 0, 0, 1);
    }
img{    
    width: 200px; height: 200px;
}

a:link{color: rgb(187, 255, 0);
}
a:visited{
    color:red
}
a:hover{color:hotpink;
text-decoration: underline solid brown;
background-color:rgb(54, 243, 180)
}
footer{
    padding-top: 10em;
    background-image: url("images/bingus.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}