*{
    background-color: rgb(250, 234, 214);
    /*background-image: url(../images/paper.jpg);
    background-blend-mode: color-burn;*/

    overflow-x: hidden;
}

.paperOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: repeat;
    background-image: url(../images/paper.jpg);
    mix-blend-mode: color-burn;
    pointer-events: none;
}
h1{
    font-family: blonde-fraktur;
    font-size: 5000%;
    text-align: center;
    padding-bottom: 5em;
}
h2{
    text-align: center;
    font-family: quintessential;
    font-size: 500%;
    overflow: hidden;
    position: relative;
}
p{
    text-justify: inter-word;
    text-align: justify;
    column-count: 2;
    font-size: 150%;
    column-gap: 5%;
    font-family: quintessential;
    position: relative;

}

img[src*="montyp1"]{
    width: 75%;
}
img[src*="montyp2"]{
    width: 75%;
}
img[src*="montyp3"]{
    width:75%
}

.fall{
    position:relative;
    float: bottom;
    vertical-align: bottom;
    width: 50%;
    opacity: 0;
    transition: transform .4s, opacity .25s;
}
.transition:active .fall{
    transform: translateY(600px);
    opacity: 100;
}
.smash{

    width: 800px;
    height: 600px;
    transition: transform .25s;
}

.transition:active .smash{
transform:scaleY(0) ;
transform-origin: bottom center;
}
.gray{
    filter: grayscale(1);
}
.center{
   display: block;
    margin-left: auto;
    margin-right: auto;

}
.head{
    margin-top: 10%;
    overflow: hidden;
}
.footer{
    width: 16%;
    
}
.margin{
opacity: .65;}

img[src*="parrot"]{
width: 25%;
position:absolute;
display: flex;
top: 25%;
left:55%;

}
img[src*="swallow"]{
width: 15%;
float: right;
display: flex;
position: absolute;
right: 5%;
top:65%


}
img[src*="knight"]{
width: 20%;
float:left;
position:absolute;
display: flex;
}
img[src*="silly"]{
width: 15%;
float:right;
position:absolute;
display: flex;
right: 10%;
top: 95%;
}
img[src*="rabbit"]{
width: 15%;
float: left;
position:absolute;
display: flex;
top: 75%;
}
body{
    position: relative;
}