



*{
    background-color: rgb(0, 0, 255);
    margin:0; padding:0;
}
#wrapper{
    width: 80%;
    margin: auto;
    margin-top: 5%;
}
.col-33{
    float: left;
    width: 33.33%;
}

h1 {
    font-size: 50em;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(255, 0, 0);
    text-decoration: underline wavy rgb(187, 255, 0);
}
h2{
    font-family: 'josefin sans';
    color: red;
    text-align: center;
    font-size: 400%;
}
hr{

    width: 50%;
}
ul {
    text-align: center;
    font-size: 200%;
    list-style-type: none;
    font-family: 'josefin sans';
} 
 p{
     width: 50%;
     font-size: 200%;
     color:rgb(255, 255, 255);
     line-height: 100%;
     text-align: left;
     background-color: rgba(255, 0, 0, 1);
     text-align: center;
     font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif   ;
    }
img{    
    width: 100%;
    height: auto;
}

a:link{color: rgb(187, 255, 0);
}
a:visited{
    color:red
}
a:hover{color:hotpink;
text-decoration: underline solid brown;
background-color:rgb(54, 243, 180)
}
footer{
    clear: left;
    width: 100%;
    padding-top: 10%;
    background-image: url("images/bingus.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}
@media only screen and (max-width: 600px) {
    #wrapper{
        font-size: 50%;
    }
} /* smaller than mobile*/